body{
	width: 70%;
	margin: 0 auto;
	background: rgb(248,255,232); /* Old browsers */
	background: -moz-linear-gradient(-45deg, rgba(248,255,232,1) 0%, rgba(227,245,171,1) 26%, rgba(183,223,45,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg, rgba(248,255,232,1) 0%,rgba(227,245,171,1) 26%,rgba(183,223,45,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg, rgba(248,255,232,1) 0%,rgba(227,245,171,1) 26%,rgba(183,223,45,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8ffe8', endColorstr='#b7df2d',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	font-family: 'Josefin Sans', sans-serif;


}